#toggle-item{
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-gap: 2px;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  justify-items: center;

  .label-toggle-mode{
    font-weight: bold;
  }
  #in{
    color:#10dc60;  
  }
  #out{
    color:#f04141;  
  }
}


.switch {
  padding: 0;
  grid-column: 2;
  position: relative;
  display: block;
  width: 100px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f04141;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #10dc60;
}

input:focus + .slider {
  box-shadow: 0 0 1px #10dc60;
}

input:checked + .slider:before {
  -webkit-transform: translateX(66px);
  -ms-transform: translateX(66px);
  transform: translateX(66px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}